.catalog {
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;

		@media (max-width: 992px) {
			gap: 20px;
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 768px) {
			gap: 15px;
			grid-template-columns: 1fr;
		}
	}
}
